@import "../../styles/colorpalette.scss";

.login {
  &-wrapper,
  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-wrapper {
    width: 100vw;
    height: 100vh;
  }
  &-card {
    background: $red;
    width: 240px;
    height: 140px;
    padding: 20px;
    border-radius: 10px;
  }
  &-button {
    background: $aqua;
    color: $yellow;
    font-weight: bold;
    font-size: 18px;
    padding: 20px;
    border: none;
    border-radius: 5px;
  }
}
