$primary: #0f1117;
$secondary: #323f4a;

$textPrimary: #cbd1e1;
$textSecondary: #91a7be;

$red: #a3483d;
$dark: #13181c;
$card: #171d23;
$border: #27313a;

$aqua: #1ea896;
$yellow: #fcd166;
$blue: #26547c;
