@import "../../styles/colorpalette.scss";

.header {
  background-color: $secondary;
  padding: 0.4rem 1.25rem;

  position: sticky;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.title {
  margin: 0;
  color: $textPrimary;
  font-size: 1rem;
  text-transform: uppercase;
}
